html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.content {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

header {
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: #333;
}

nav a:hover {
    background-color: #444;
    color: white;
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-bottom: 10px;
    }
}

.producto:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.categorias-container, .productos-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap; 
}

.categoria, .producto {
    text-align: center;
    margin: 10px;
}

.categoria img, .producto img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.carrito {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 60px;
}

#Politicas {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#product-card {
    text-align: center;
}

.box-color {
    width: 100%;
    color: black;
    font-size: 13px;
    text-align: center;
}

.categorias-destacadas, .productos-oferta {
    text-align: center;
}
